@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

button {
    width: 75px;
    height: 50px;
    margin-top: 10px;
    animation: colors 5s infinite;
    color: azure;
    margin-bottom: 10px;
}
button:hover {
    width: 75px;
    height:50px;
    margin-top: 10px;
}
button:active {
    width: 70px;
    height: 45px;
    margin-top: 15px;
}
@keyframes colors {
    0% {background-color:darkslategray;}
    25% {background-color: darkcyan;}
    50% {background-color: darkslategray;}
    75% {background-color: darkcyan;}
    100% {background-color: darkslategray;}
}

body {
    background-image: url(./media/coolbackground.svg);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


.All{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    padding: 2px;
    justify-items: center;
}
#US{
    border-style: inset;
    border-color: darkmagenta;
    padding: 0.5rem 1.2rem 1.2rem 1.2rem;
    background-color: white;
    width: 50%;
    height: auto;
}

#title{
    color: #333;
    font-family: 'Bungee', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(163, 163, 163), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);
}

.socials {
    text-align: center;
    display: block;
    width: 300px;
    height: auto;
    background-color: azure;
    border-style: inset;
    border-color: darkmagenta;
}

.bigdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#ytlogo {
    width: 280px;
    height: auto;
}

#cat {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}
.image {
    width: 50%;
    height: 100%;
    text-align: center;
    display: block;
}

.joke {
    width: 45%;
    height: 25%;
    text-align: center;
    display: block;
    position: absolute;
    right: 0;
    top: 150px;
    background-color: azure;
    border-style: inset;
    border-color: #111;
    margin-right: 5px;
}

.fact {
    width: 45%;
    height: 25%;
    text-align: center;
    display: block;
    position: absolute;
    right: 0;
    top: 350px;
    background-color: azure;
    border-style: inset;
    border-color: #111;
    margin-right: 5px;
}

img {
    height: 480px;
    width: auto;
    max-width: 100%;
}

.social {
    height: auto;
    width: auto;
}
