button {
    width: 75px;
    height: 50px;
    margin-top: 10px;
    animation: colors 5s infinite;
    color: azure;
}
button:hover {
    width: 75px;
    height:50px;
    margin-top: 10px;
}
button:active {
    width: 70px;
    height: 45px;
    margin-top: 15px;
}
@keyframes colors {
    0% {background-color:darkslategray;}
    25% {background-color: darkcyan;}
    50% {background-color: darkslategray;}
    75% {background-color: darkcyan;}
    100% {background-color: darkslategray;}
}

body {
    background-image: url(./media/coolbackground.svg);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


.All{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    padding: 2px;
    justify-items: center;
}
#US{
    border-style: dashed;
    padding: 0.5rem 1.2rem 1.2rem 1.2rem;
    background-color: white;
}

#title{
    font-size: 50px;
}
.socials {
    text-align: center;
    display: block;
    width: 300px;
    height: auto;
    background-color: azure;
}

.bigdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#ytlogo {
    width: 280px;
    height: auto;
}

