button {
    width: 75px;
    height: 50px;
    margin-top: 10px;
    animation: colors 5s infinite;
    color: azure;
}
button:hover {
    width: 75px;
    height:50px;
    margin-top: 10px;
}
button:active {
    width: 70px;
    height: 45px;
    margin-top: 15px;
}
@keyframes colors {
    0% {background-color:darkslategray;}
    25% {background-color: darkcyan;}
    50% {background-color: darkslategray;}
    75% {background-color: darkcyan;}
    100% {background-color: darkslategray;}
}

body {
    background-image: url(./media/coolbackground.svg);
}
